{% extends 'base.html' %}
{% block body %}
        <div class="container" style="margin-top: 5%; color: #383838;">
                <p style="font-size: 24px">ToDo Sense is simple and awesome web-app to organize your tasks with very easy to use interface. ToDo can help you to make list of your tasks and update or delete it when the task is accomplished.</p>
                <h4 style="font-weight: 800;">Functions:</h4>
                <ul class="about-list" style="margin: 7px auto;">
                        <li>Add a ToDo by entering details and clicking on add todo button</li>
                        <li>Update a ToDo if you entered something wrong</li>
                        <li>Delete a ToDo when the task is accomplished</li>
                </ul>

                <h4 style="font-weight: 800;">ToDo Sense is built using:</h4>
                <ul class="about-list">
                        <li>Python</li>
                        <li>Flask</li>
                        <li>SQLite</li>
                        <li>Flask SQLAlchemy</li>
                        <li>Jinja2 Template Engine</li>
                        <li>Bootstrap 5</li>
                </ul>
                <p style="text-align: center;">PS: As of now, the search bar plays no role XD</p>
        </div>
{% endblock body %}